
                                  <table width="100%" style="border-collapse: collapse;">
                                    <thead>
                                       <tr>
                                        <th colspan="4" style=" background-color: #f3f3f3; text-align: right;padding:8px;border-collapse: collapse;border:1px solid #ccc;">Report Date : 05-01-2020</th>
                                      </tr>
                                     
                                    </thead>
                                    <tbody>
                                       <tr>
                                        <td colspan="4" style="border: 1px solid #ccc; font-size: 18px; font-weight:bold;text-align: center;padding: 8px;border-collapse: collapse;">Customer Details</td>
                                      </tr>

                                      <tr style="width: 100%;border-collapse: collapse;border: 1px solid #ccc;margin:15px 0;">
                                        <td style="vertical-align: top;padding: 30px 0; font-weight: bold;font-size: 40px;"><span style="width: 50px; display: inline-block;text-align: center; color:#2f5792; font-style: 16px; font-weight: bold;">*</span></td>
                                        <td>
                                          <table style="width: 100%; border-collapse: collapse;">
                                            <tbody>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Customer Name <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td><span class="td-initial">Mrs</span>. <span class="name-caps">ARASI S (1931)</span></td>
                                              </tr>
                                              <tr>
                                                <th  style="padding: 8px;text-align: left;">Father Name <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td><span class="name-caps">W/O. SELVAM V</span></td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Contact No.  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>9876543212</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Group Name & Ticket Number  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>A10L4027A - 32</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Auction No & Date  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>3 - 27-11-2019</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Auction Amount  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>400000.00</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Address  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td style="padding-bottom: 30px;"><span class="name-caps">No: 1/70, north street, <br/>melpathipalaiyamgottai, <br/>SRIMUshnam (POst), <br/>Cudaalore (Taluk),<br/> pin - 608701 </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td> <img src="http://localhost:8000/public/image/girl.svg" class="profile" alt="Photos"></td>
                                        <td style="padding-left: 20px;">
                                          <div>
                                            Adhaar Card / Xerox-1, <br/>
                                            Bank  Passbook / Xerox-1,<br/>
                                            Tamil Bond / Original-1,<br/>
                                            Promissory Note/ Original-2,<br/>
                                            Withot form / original-1,<br/>
                                            Cheque slip / original-3,<br/>
                                            IOB Bank.
                                          </div>
                                        </td>
                                      
                                      </tr>
                                      <tr>
                                        <td colspan="4" style="border: 1px solid #ccc; font-size: 18px; font-weight:bold;text-align: center;padding: 8px;border-collapse: collapse;">Guarantoer Details</td>
                                      </tr>

                                      <tr style="width: 100%;border-collapse: collapse;border: 1px solid #ccc;margin:15px 0;">
                                        <td style="vertical-align: top;padding: 30px 0; font-weight: bold;font-size: 40px;"><span style="width:50px; text-align:center; display:inline-block;">*</span></td>
                                        <td>
                                          <table style="width: 100%;">
                                            <tbody>
                                              <tr>
                                                <th  style="padding: 8px;text-align: left;">Guarantoer Name  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td><span class="td-initial">Mrs</span>. <span class="name-caps">ARASI S (1931)</span></td>
                                              </tr>
                                              <tr>
                                                <th  style="padding: 8px;text-align: left;">Father Name <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td><span class="name-caps">W/O. SELVAM V</span></td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Contact No.  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>9876543212</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Group Name & Ticket Number  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>A10L4027A - 32</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Auction No & Date  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>3 - 27-11-2019</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Auction Amount  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>400000.00</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Address  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td style="padding-bottom: 30px;"><span class="name-caps">No: 1/70, north street, <br/>melpathipalaiyamgottai, <br/>SRIMUshnam (POst), <br/>Cudaalore (Taluk),<br/> pin - 608701 </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td> <img src="http://localhost:8000/public/image/girl.svg" class="profile" alt="Photos"></td>
                                        <td style="padding-left: 20px;">
                                          <div >
                                            Adhaar Card / Xerox-1, <br/>
                                            Bank  Passbook / Xerox-1,<br/>
                                            Tamil Bond / Original-1,<br/>
                                            Promissory Note/ Original-2,<br/>
                                            Withot form / original-1,<br/>
                                            Cheque slip / original-3,<br/>
                                            IOB Bank.
                                          </div>
                                        </td>
                                      
                                      </tr>
                                      <tr  style="width: 100%;border-collapse: collapse;border: 1px solid #ccc;margin:15px 0;">
                                        <td style="vertical-align: top;padding: 30px 0; font-weight: bold;font-size: 40px;"><span style="width:50px; text-align:center; display:inline-block;">*</span></td>
                                        <td>
                                          <table style="width: 100%;">
                                            <tbody>
                                              <tr>
                                                <th  style="padding: 8px;text-align: left;">Guarantoer Name  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td><span class="td-initial">Mrs</span>. <span class="name-caps">ARASI S (1931)</span></td>
                                              </tr>
                                              <tr>
                                                <th  style="padding: 8px;text-align: left;">Father Name <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td><span class="name-caps">W/O. SELVAM V</span></td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Contact No.  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>9876543212</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Group Name & Ticket Number  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>A10L4027A - 32</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Auction No & Date  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>3 - 27-11-2019</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Auction Amount  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>400000.00</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Address  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td style="padding-bottom: 30px;"><span class="name-caps">No: 1/70, north street, <br/>melpathipalaiyamgottai, <br/>SRIMUshnam (POst), <br/>Cudaalore (Taluk),<br/> pin - 608701 </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td> <img src="../girl.svg" class="profile" alt="Photos"></td>
                                        <td style="padding-left: 20px;">
                                          <div>
                                            Adhaar Card / Xerox-1, <br/>
                                            Bank  Passbook / Xerox-1,<br/>
                                            Tamil Bond / Original-1,<br/>
                                            Promissory Note/ Original-2,<br/>
                                            Withot form / original-1,<br/>
                                            Cheque slip / original-3,<br/>
                                            IOB Bank.
                                          </div>
                                        </td>
                                      
                                      </tr>
                                      <tr>
                                        <td colspan="4" style="border: 1px solid #ccc; font-size: 18px; font-weight:bold;text-align: center;padding: 8px;border-collapse: collapse;">Nominee Details</td>
                                      </tr>

                                      <tr  style="width: 100%;border-collapse: collapse;border: 1px solid #ccc;margin:15px 0;">
                                        <td style="vertical-align: top;padding: 30px 0; font-weight: bold;font-size: 40px;"><span style="width:50px; text-align:center; display:inline-block;">*</span></td>
                                        <td>
                                          <table>
                                            <tbody>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Nominee Name  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td><span class="td-initial">Mrs</span>. <span class="name-caps">ARASI S (1931)</span></td>
                                              </tr>
                                              <tr>
                                                <th  style="padding: 8px;text-align: left;">Father Name <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td><span class="name-caps">W/O. SELVAM V</span></td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Contact No.  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>9876543212</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Group Name & Ticket Number  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>A10L4027A - 32</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Auction No & Date  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>3 - 27-11-2019</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Auction Amount  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td>400000.00</td>
                                              </tr>
                                              <tr>
                                                <th style="padding: 8px;text-align: left;">Address  <span style="text-align:right; display: inline-block;float: right;">:</span></th>
                                                <td style="padding-bottom: 30px;"><span class="name-caps">No: 1/70, north street, <br/>melpathipalaiyamgottai, <br/>SRIMUshnam (POst), <br/>Cudaalore (Taluk),<br/> pin - 608701 </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td> <img src="http://localhost:8000/public/image/girl.svg" class="profile" alt="Photos"></td>
                                        <td style="padding-left: 20px;">
                                          <div>
                                            Adhaar Card / Xerox-1, <br/>
                                            Bank  Passbook / Xerox-1,<br/>
                                            Tamil Bond / Original-1,<br/>
                                            Promissory Note/ Original-2,<br/>
                                            Withot form / original-1,<br/>
                                            Cheque slip / original-3,<br/>
                                            IOB Bank.
                                          </div>
                                        </td>
                                      
                                      </tr>
                                    </tbody>
                                    <tfoot>
                                      <tr>
                                        <td colspan="4">
                                          <table style="width: 100%; border-collapse: collapse;">
                                            <thead style="background-color: #f3f3f3">
                                              <tr>
                                                <th style="border: 1px solid #ccc;padding: 8px;"></th>
                                                <th  style="border: 1px solid #ccc;padding: 8px;">Date</th>
                                                <th  style="border: 1px solid #ccc;padding: 8px;">Signature</th>
                                                <th  style="border: 1px solid #ccc;padding: 8px;">Document</th>
                                                <th  style="border: 1px solid #ccc;padding: 8px;">Date</th>
                                                <th  style="border: 1px solid #ccc;padding: 8px;">Signature</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td  style="border: 1px solid #ccc;padding: 8px;">Surety Received By</td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;">Document Submitted by</td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                              </tr>
                                              <tr>
                                                <td  style="border: 1px solid #ccc;padding: 8px;">Surety Verification By</td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;">Document Submitted by</td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                              </tr>
                                               <tr>
                                                <td  style="border: 1px solid #ccc;padding: 8px;">Surety Entry to System</td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;">Document Returened by</td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                              </tr>
                                               <tr>
                                                <td  style="border: 1px solid #ccc;padding: 8px;">Surety Field Verification</td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;">Document Returened by</td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                              </tr>
                                               <tr>
                                                <td  style="border: 1px solid #ccc;padding: 8px;">Surety File Verification</td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;">Document Received by</td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                                <td  style="border: 1px solid #ccc;padding: 8px;"></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tfoot>
                                  </table>
                              
</body>
</html>
